OpenAX25-Core/OpenAX25Config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	    xmlns="urn:OpenAX25Config-Schema" targetNamespace="urn:OpenAX25Config-Schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="OpenAX25Config">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Assemblies" type="AssembliesType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="Channels"   type="ChannelsType"   minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="AssembliesType">
		<xsd:sequence>
			<xsd:element name="Assembly" type="AssemblyType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AssemblyType">
		<xsd:attribute name="file"  type="xsd:string" use="required" />
		<xsd:attribute name="class" type="xsd:string" use="required" />
	</xsd:complexType>
				
	<xsd:complexType name="ChannelsType">
		<xsd:sequence>
			<xsd:element name="Channel" type="ChannelType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
				
	<xsd:complexType name="ChannelType">
		<xsd:sequence>
			<xsd:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name"   type="xsd:string"  use="required"                />
		<xsd:attribute name="class"  type="xsd:string"  use="required"                />
		<xsd:attribute name="open"   type="xsd:boolean" use="optional" default="true" />
		<xsd:attribute name="target" type="xsd:string"  use="optional" default="NULL" />
	</xsd:complexType>
	
	<xsd:complexType name="PropertyType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
</xsd:schema>