OpenAX25-Router/OpenAX25Routes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	    xmlns="urn:OpenAX25Routes" targetNamespace="urn:OpenAX25Routes"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="OpenAX25Routes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Route" type="RouteType" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required" />
        </xsd:complexType>
	</xsd:element>

    <xsd:complexType name="RouteType">
        <xsd:sequence>
            <xsd:element name="Pattern" type="PatternType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="target"   type="xsd:string"  use="required"                 />
        <xsd:attribute name="continue" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>

    <xsd:complexType name="PatternType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="PropertyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>